# Node modules directory
node_modules/

# Environment variable files
.env
node_modules/

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

# npm package lock file
package-lock.json

# IDE files
.vscode/
.idea/
